body{
    background: #edeaff ;
    padding: 0;
    margin: 0;
}

.stopwatch{

    width: auto;
    max-width: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    /* margin: 200px auto 0; */
    box-shadow: 0 10px 10px  rgba(0,0,0,0.2);
    height: 600px;


}


.stopwatch h2{
    margin-top: 110px;
    font-size: 64px;
    font-weight: 300;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}


.active{
    
    border: 5px solid rgb(7, 163, 236);
    border-radius: 80%;
    
}


.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}


.buttons img:nth-child(2){
    width: 80px;;
}

input {
    background-color: #040314; 
    color: white; 
    border: 1px solid #040314; 
    padding: 8px;
    border-radius: 5px;
}

input::placeholder {
    color: #aaa; 
}

input[type="submit"] {
    background-color: #040314; 
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #777; 
}


